@import '../../App.css';
.EducationSystem {
    position: relative;
    background-image: url('../../assets/background/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    .EducationSystem__blur-top {
        position: absolute;
        width: 100%;
        height: 208px;
        top: 0;
        left: 0;
        z-index: 20;
        background: linear-gradient(to top, rgba(1, 17, 101, 0) 0%, #011165 100%);
    }
    .EducationSystem__wrapper {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        margin: 0 auto;
        .EducationSystem__container {
            width: 100%;
            height: 100%;
            // 86px 0 52px
            padding: 5.375rem 0 3.25rem;
            .EducationSystem__content {
                position: relative;
                width: 100%;
                flex-direction: column;
                z-index: 20;
                .EducationSystem__title {
                    text-align: center;
                    margin-bottom: 3.75rem;
                }
                .EducationSystem__content-rows {
                    width: 100%;
                    margin-bottom: 4.75rem;
                    .EducationSystem__row {
                        width: 100%;
                        display: flex;
                        gap: 0.625rem;
                        margin-bottom: 0.625rem;
                        .EducationSystem__step-edu {         
                            border: var(--border-dark-gray);
                            border-radius: var(--border-radius-small);
                            background: var(--background-dark);
                            padding: 1.5rem 1.25rem;
                            .EducationSystem__header {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
                                margin-bottom: 0.625rem;
                                .EducationSystem__header-title {
                                    flex-grow: 1;
                                }
                                .EducationSystem__number {
                                    display: flex;
                                    align-items: flex-start;
                                    font-size: 3rem;
                                    font-weight: 700;
                                    line-height: 1.43;
                                    letter-spacing: 0.01em;
                                    color: rgba(255,255,255,0.2);
                                    margin: -0.825rem 0 -1rem;
                                    justify-content: flex-end;
                                }
                            }
                            .EducationSystem__body {
                                list-style-type: none;
                                .EducationSystem__edu {
                                    &:nth-child(n):not(:last-child) {
                                        margin-bottom: 1rem;
                                    }
                                }
                            }
                        }
                    }
                    .row1 {
                        :nth-child(1) {
                            width: 35%;
                        }
                        :nth-child(2) {
                            width: 65%;
                        }
                    }
                    .row2 {
                        :nth-child(3) {
                            width: 40%;
                        }
                        :nth-child(4) {
                            width: 45%;
                        }
                    }
                    .row3 {
                        :nth-child(5) {
                            width: 40%;
                        }
                        :nth-child(6) {
                            width: 45%;
                        } 
                    }
                }
                .EducationSystem__btn {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .EducationSystem__blur-bottom {
        position: absolute;
        width: 100%;
        height: 75px;
        bottom: 0;
        left: 0;
        z-index: 20;
        background: linear-gradient(180deg, rgba(34, 1, 85, 0) 0%, #220155 100%);

    }
}
.EducationSystem::after {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(52px);
    -webkit-backdrop-filter: blur(52px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}