@import '../../App.css';
.ButtonCta {
    position: relative;
    z-index: 50;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.75rem;
    border-radius: var(--border-radius-hard);
    cursor: pointer;
    box-shadow: -4px -4px 5px 0px rgba(50, 4, 73, 1) inset;
    .ButtonCta__icon-wrapper {
        color: var(--color-white);
        .ButtonCta__icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .Banner__cta-tex {

    }
}
.ButtonCta::after {
    content: '';
    position: absolute;
    z-index: 60;
    inset: 0;
    border-radius: var(--border-radius-hard);
    box-shadow: 4px 4px 11px 0px rgba(255, 255, 255, 0.35) inset;
}