* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  border: 0;
}

/* Druk Wide Cyr */
@font-face {
  font-family: 'Druk Wide Cyr';
  src: url('../public/fonts/Druk-Wide-Cyr.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap; /* Не блокирует загрузку страницы */
}

/* CoFo Sans */
@font-face {
  font-family: 'CoFo Sans';
  src: url('../public/fonts/CoFo-Sans-Medium.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap; /* Не блокирует загрузку страницы */
}

:root {
  /* colors */
  --color-white: #fff;
  --color-black: #000;
  --color-purple: rgba(167, 19, 242, 1);
  --color-blue: rgba(0, 178, 255, 1);

  /* border */
  --border-light-gray: 1px solid rgba(119, 119, 119, 1);
  --border-dark-gray: 1px solid rgba(64, 64, 64, 1);
  --border-white: 1px solid rgba(255,255,255,1);

  --background-dark: rgba(1, 1, 46, 0.5);

  /* 6.7px */
  --border-radius-small: 0.41875rem;
  /* 14px */
  --border-radius-medium: 0.875rem;
  /* 22px */
  --border-radius-hard: 1.375rem;

  /* animations */
  --transition: all 0.3s ease-out;
}

/* Адаптация для экранов выше 1920px */

html {
  scroll-behavior: smooth;
}

body {
  /* 18px */
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--color-white);
  background-color: #000;
  
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera, Yandex */
}

h1 {
  /* 55px */
  font-size: 3.4375rem; 
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Druk Wide Cyr';
  line-height: 1.43;
  letter-spacing: -0.01em;
}

h2 {
  /* 40px */
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Druk Wide Cyr';
  line-height: 1.43;
  letter-spacing: -0.01em;
}

h3 {
  /* 22px */
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Druk Wide Cyr';
  line-height: 1.43;
  letter-spacing: -0.01em;
}

span {
  font-family: 'CoFo Sans';
  line-height: 1.35;
  letter-spacing: -0.01em;
  font-weight: 400;
}

.span-bold {
  font-weight: 700;
}

button {
  color: var(--color-white);
  padding: 1rem 2rem;
  /* 18px */
  font-size: 1.125rem;
  background: linear-gradient(to right, var(--color-purple), var(--color-blue));
  border-radius: var(--border-radius-hard);
  cursor: pointer;
}

/* Адаптация для экранов от 1440px до 1920px */
@media (max-width: 1920px) {

}

/* Адаптация для экранов от 1366px до 1440px */
@media (max-width: 1440px) {

}

/* Адаптация для экранов от 1280px до 1366px */
@media (max-width: 1366px) {
  body {
    /* 16px */
    font-size: 1rem;
  }
  h1 {
    /* 50px */
    font-size: 3.125rem;
  }
  h2 {
    /* 36px */
    font-size: 2.25rem;
  }
  h3 {
    /* 20px */
    font-size: 1.25rem;
  }
  span {

  }
  button {
    /* 16px */
    font-size: 1rem;
  }
}

/* Адаптация для экранов от 1024px до 1280px */
@media (max-width: 1280px) {
  body {
    /* 14px */
    font-size: 0.875rem;
  }
  h1 {
    /* 42px */
    font-size: 2.625rem;
  }
  h2 {
    /* 28px */
    font-size: 1.75rem;
  }
  h3 {
    /* 18px */
    font-size: 1.125rem;
  }
  span {

  }
  button {
    /* 15px */
    font-size: 0.9375rem;
  }
}

/* Адаптация для экранов от 768px до 1024px */
@media (max-width: 1024px) {
  button {
  padding: 0.75rem 1.75rem;
}
}

/* Адаптация для экранов от 576px до 768px */
@media (max-width: 768px) {
  body {
    /* 14px */
    font-size: 0.875rem;
  }
  h1 {
    /* 38px */
    font-size: 2.375rem;
  }
  h2 {
    /* 26px */
    font-size: 1.625rem;
  }
  h3 {
    /* 16px */
    font-size: 1rem;
  }
  span {

  }
  button {
    /* 14px */
    font-size: 0.875rem;
  }
}

/* Адаптация для экранов от 320px до 576px */
@media (max-width: 576px) {
  body {
    /* 12px */
    font-size: 0.75rem;
  }
  h1 {
    /* 24px */
    font-size: 1.4375rem;
  }
  h2 {
    /* 18px */
    font-size: 1.125rem;
  }
  h3 {
    /* 13px */
    font-size: 0.8125rem;
  }
  span {

  }
  button {
    /* 12px */
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
  }
}